<div class="d-flex align-items-center justify-content-between gap-2 flex-wrap mt-5 mb-4">
    <h2>Gastos</h2>

    <div class="d-flex align-items-center flex-wrap gap-3 gap-sm-5">
        <p class="m-0">Total Gastado:<span class="fw-bold  ms-1"><i class="ri-arrow-down-s-fill text danger">{{total|currency   }}</i></span></p>
        <a routerLink="/gastos/nuevo" class="btn btn-primary">Agregar gasto</a>
    </div>
</div>
<div class="table-responsive mb-5">
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Descripcion</th>
                <th scope="col" widh="100">Fecha de gasto</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="expense.length; else emtyMessage">
                <tr *ngFor="let expense of expense">
                     <td>{{expense.id}}</td>
                    <td>{{expense.type}}</td>
                    <td>{{expense.amount }}</td>
                    <td>{{expense.description}}</td>
                    <td>{{expense.expense_date}}</td> 
                    <td> 
                        <div>
                            <a routerLink="['/gastos',expense.id,'editar']" href=""><i class="ri-edit-box-line"></i></a>
                            <button class="btn btn-link p-0"><i class="ri-delate-bin-2-line"></i></button>
                        </div>

                </tr>
            </ng-container>
            <ng-template #emtyMessage>
            <tr>
                <td colspan="6" class="text-center">No hay datos para mostrar</td>
            </tr>
            </ng-template>
        </tbody>
    </table>

</div>